BeautifulSoup==3.2.1
Cheetah==2.4.4
Django==1.11.23
M2Crypto==0.21.1
PAM==0.4.2
Pillow==6.2.0
PyYAML==3.10
SecretStorage==2.0.0
amqp==1.3.3
anyjson==0.3.3
argparse==1.2.1
beautifulsoup4==4.2.1
billiard==3.3.0.15
boto==2.20.1
celery==3.1.6
chardet==2.0.1
cl==0.0.3
colorama==0.2.5
configobj==4.7.2
decorator==4.0.4
distro-info==0.12
django-braces==1.4.0
django-cors-headers==0.13
django-oauth-toolkit==0.7.2
django-tokenapi==0.2.2
eventlet==0.14.0
gevent==1.0
greenlet==0.4.2
html5lib==0.999
httplib2==0.8
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
jsonpatch==1.3
jsonpointer==1.0
keyring==3.5
kombu==3.0.7
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
librabbitmq==1.0.3
lxml==3.3.3
mailer==0.7
matplotlib==1.3.1
mechanize==0.2.5
nltk==2.0.4
numpy==1.8.2
oauth==1.0.1
oauth2==1.5.211
oauthlib==0.6.3
paramiko==1.10.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ply==3.4
prettytable==0.7.2
ptyprocess==0.5
pyOpenSSL==0.13
pycrypto==2.6.1
pycurl==7.19.3
pygobject==3.12.0
pymongo==2.6.3
pyparsing==2.0.1
pyserial==2.6
pysqlite==1.0.1
python-apt==0.9.3.5ubuntu1
python-crontab==1.5.1
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-memcached==1.53
pytz==2012c
requestbuilder==0.1.0-beta1
requests==2.2.1
scrapelib==0.10.1
selenium==2.37.2
simplegeneric==0.8.1
simplejson==3.3.1
six==1.5.2
slimit==0.8.1
ssh-import-id==3.21
traitlets==4.0.0
urlgrabber==3.9.1
urllib3==1.7.1
virtualenv==12.0.7
wadllib==1.3.2
web.py==0.37
wsgiref==0.1.2
zope.interface==4.0.5
