<div class='bar index-bar'>
	<form>
		<div>
			<h2>{{ instrument.name }}</h2>
			<div class='divIndex' ng-click='changeCard("prelims")'>
				<span class='col-sm-4 col-lg-3 col-xl-2 label label-default'>0</span>
				<span class='col-sm-8 col-lg-9 col-xl-10 button button-default'>Preliminaries</span>
			</div>
			<h3>Questions</h3>
			<button type='button' class='btn btn-default btn-sm'
					ng-click='add_question()' tooltip='Add Question'>
				<span class='glyphicon glyphicon-plus button' style='color:green'></span>
			</button>
			<div class='fixed-height' id='question_box'>
				<div class='divIndex' ng-repeat='question in instrument.questions | orderBy:orderByFunc track by question._id'
								ng-click='changeCard(question)'>
					<span class='col-sm-4 col-lg-3 col-xl-2 label label-default'>{{ question.question_id }}</span>
					<span class='col-sm-8 col-lg-9 col-xl-10 button button-default'>{{ question.short_name }}</span>
				</div>
			</div>
		</div>
	</form>
</div>
