<div class='container-fluid'>
	<nav class="navbar navbar-default" role="navigation" >
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="top-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							File<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href='#'>Create New Questionnaire</a></li>
							<li class='divider'></li>

							<li class='dropdown-submenu' ng-repeat='instrument in instruments'>
								<a href='#'>{{instrument.name}}</a>
								<ul class='dropdown-menu'>
									<li ng-repeat='version in instrument.versions'>
										<a ng-click='select_version(instrument, version)'>
											<span class='col-sm-8'>{{version.version.shortname}}</span>
											<span class='col-sm-4 version-small'>v. {{version.version.major}}.{{version.version.minor}}</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class='dropdown'>
						<a href='#' class='dropdown-toggle' data-toggle='dropdown'>
							Save<span class='caret'></span>
						</a>
						<ul class='dropdown-menu bigenough' role='menu'>
							<li><a href='#' ng-click='save_current()'>Save</a></li>
							<li><a href='#' ng-click='save_copy("lg")'>Duplicate...</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href='#' ng-click="pop_interview()">
							Preview
						</a>
					</li>

					<li class="dropdown">
						<a href='#' class="dropdown-toggle" data-toggle="dropdown">
							URL
						</a>
					</li>
					<li class="nav">
						<input class="form-control"
							   style="margin:10px;cursor:text"
							   type="text"
							   size="50"
							   placeholder="url" value="{{prod_url}}" readonly>
					</li>

				</ul>
			</div>
			<input type='checkbox' ng-click='show_json=!show_json'>Toggle Raw</input>
		</div>
	</nav>
</div>

<script type="text/ng-template" id="myModalContent.html">
	<form name='new_version'>
		<div class="modal-header">
				<h3 class="modal-title">Version Details</h3>
		</div>
		<div class="modal-body">
			<div class='formrow'>
				<label class='col-sm-4'>Name</label>
				<input class='col-sm-8' type='text' ng-model='version.shortname' required/>
			</div>
			<div class='formrow'>
				<label class='col-sm-4'>Description</label>
				<textarea class='col-sm-8' style='margin-top:2px' ng-model='version.description' required></textarea>
			</div>
		</div>

		<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok(new_version.$valid)">OK</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</script>


<script type="text/ng-template" id="url_modal.html">
	<form name='new_version'>
		<div class="modal-header">
				<span class='col-sm-8'>{{version.version.shortname}}</span>
				<span class='col-sm-4 version-small'>v. {{version.version.major}}.{{version.version.minor}}</span>
				<span class='col-sm-4 version-small'>v. {{version.lang}}</span>
		</div>
		<div class="modal-body">
			<div class='formrow'>
				<label class='col-sm-4'>URL</label>
				<input type='textarea' class='col-sm-8' style='margin-top:2px'>
					{{version.url}}
				</input>
			</div>
		</div>

		<div class="modal-footer">
				<button class="btn btn-warning" ng-click="close()">Close</button>
		</div>
	</div>
</script>
